/* src/layouts/DashboardLayout.module.css */

.layout {
  display: flex;
  background-color: #060610;
}

.mainContent {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.mainContentCollapsed {
  margin-left: 0;
}

.content {
  margin-top: 20px;
}

.toolbar button {
  position: fixed;
  background-color: transparent;
  margin: 0rem;
  width: 7rem;
  border-radius: 10px;
  transition: 0.3s;
}

.noVisible{
  display: none;
}