.container {
    margin-bottom: 1rem;
}

.label {
    margin-right: 0.5rem;
    font-weight: 500;
    font-size: 0.95rem;
    color: #ffffff;
}

.select {
    padding: 0.2rem 1.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 0.95rem;
    transition: border-color 0.2s ease;
}

.select:focus {
    outline: none;
    border-color: #2f0253;
}